*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: darkcyan;
    padding: 25px;
    text-align: center;
}
header nav a{
    padding: 10px 25px;
    color: #fff;
    font-size: 20px;
}
header nav a.active,header nav a:hover{
    background: #fff;
    color: darkcyan;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    color: #ccc;
    font-weight: bolder;
    padding-bottom: 70px;
}
.container{
    font-size: medium;
    color: black;
}
#listing-table{
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .11);
}
#listing-table :nth-child(){
  border: 1px solid rgba(0, 0, 0, .11);
}
.table-list{
    display: inline-block;
}
td{
  width: 266px;
  margin: 0px;
  border: 1px solid rgba(0, 0, 0, .11);
  text-align: center;
  font-size: 20px;
}

#display_image
{

    width: 300px;
    height: 300px;
    border: 1px solid black;
    background-size: 100% 100%;
}

.about_container {
    display: flex;
    gap: 15px;
    position: absolute;
    width: 50%;
    max-width: 300px;
}  
.image {
    display: block;
}  
.overlay {
    position: relative; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
.about_container:hover #over_1{
    opacity: 1;
}
.about_container:hover #over_2{
    opacity: 1;
}
.about_container:hover #over_3{
    opacity: 1;
}
.images img{
 width: 500px;
 height: 500px;
}
.about{
    justify-content: left;
}